jupyter-book>=0.15.0,<2.0.0
jupyterlite-core
jupyterlite-pyodide-kernel
nbconvert
jupyter
sphinxcontrib-spelling # or any other sphinx plugins you use
sphinx>=7.0.0,<7.3.0
sphinx-revealjs>=2.0.0,<3.0.0
